<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807600046762-3jg949la86d4oltd8m5u6jjvcdfk9ljf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807600046762-3jg949la86d4oltd8m5u6jjvcdfk9ljf</string>
	<key>API_KEY</key>
	<string>AIzaSyAQNgI6alZbT7ERERDMET1Gk0BOkbw-zko</string>
	<key>GCM_SENDER_ID</key>
	<string>807600046762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productsFirebase</string>
	<key>PROJECT_ID</key>
	<string>products-app-e126a</string>
	<key>STORAGE_BUCKET</key>
	<string>products-app-e126a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807600046762:ios:7554192f1f0c5b927ec6d3</string>
</dict>
</plist>